/* You can add global styles to this file, and also import other style files */

 

body {
    font-family: 'Calibri', sans-serif; 
    background-color: lightgray; overflow-x: hidden; overflow-y:auto;height: 100%;
    }

 

  .frontier-comment{
    background-color: white;
  }

  .frontier-bg{
    background-color: lightgrey;
  }
  .frontier-target {
      color:cadetblue;
      padding-left:0px !important;
  }